@font-face {
  font-family: "Cantarell";
  font-weight: 400;
  src: url("./font/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "Cantarell";
  font-weight: 700;
  src: url("./font/Cantarell-Bold.ttf");
}

@font-face {
  font-family: "DINpro";
  font-weight: 700;
  src: url("./font/DINPro-Bold_13934.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cantarell", sans-serif;
}

body h1 {
  font-family: "DINpro", sans-serif;
  font-size: 1.5em;
  color: #00d1b2;
}

body h2 {
  font-family: "DINpro", sans-serif;
  font-size: 2.5em;
  color: #000000;
  margin: 1.2em 0;
}

body h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: #000000;
}

/*/*******************************************************************/
/*/*******************************************************************/
#Logo {
  height: 3vh;
  margin: 0.5em;
}

.navbar {
  margin: 0;
  position: fixed;
}

.navbar .navbar-menu {
  text-align: center;
}

.navbar .navbar-menu .login a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar .navbar-menu .signup a {
  font-size: 1.3em;
  font-weight: 700;
}

.title {
  margin: 4em 0 0 0;
  padding-bottom: 0;
}

.section .limited {
  height: 110vh;
  overflow: hidden;
}

.section .column {
  background: #ffffff;
  border: 0.5px solid rgba(0, 209, 178, 0.3);
  -webkit-box-sizing: border-bLogoox;
          box-sizing: border-bLogoox;
  -webkit-box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
          box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
  border-radius: 18px;
  margin: 1.5em 2em;
  padding: 2em;
  text-align: center;
}

.section .projects .button {
  border-radius: 6px;
  border-width: 2px;
  margin-top: 1.5em;
  font-weight: 700;
  font-size: 1.1em;
}

.section .blog h3 {
  text-align: start;
}

.section .blog p {
  border-radius: 6px;
  margin-top: 1.5em;
  font-weight: 700;
  color: #00d1b2;
  text-align: end;
}

.section .more-fade {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  height: 40vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(41.67%, rgba(255, 255, 255, 0.8)), to(#ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 41.67%, #ffffff 100%);
}

.section .more-fade .more-button {
  display: block;
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  background: #ffffff;
  border: 1px solid rgba(0, 209, 178, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
          box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
  border-radius: 27px;
  -webkit-transition: width 350ms;
  transition: width 350ms;
}

.section .more-fade .more-button .arrow {
  height: 1.8em;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section .more-fade .more-button .more {
  display: none;
}

.section .more-fade .more-button:hover {
  display: inline;
  position: absolute;
  width: 148px;
  height: 54px;
}

.section .more-fade .more-button:hover .arrow {
  top: 50%;
  left: 22%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section .more-fade .more-button:hover .more {
  position: absolute;
  top: 48%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.3em;
  font-weight: 700;
  display: inline;
}

.banner h2 {
  color: #ffffff;
}

#signup-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

#signup-page h2 {
  color: #ffffff;
  text-align: start;
  margin: 1em 0;
}

#signup-page .container {
  margin-bottom: 4em;
}

#signup-page .container input {
  margin-bottom: 2em;
  border-radius: 10px;
  height: 3em;
  width: 75vw;
  padding-left: 1.5em;
  font-weight: 700;
}

#signup-page .container input::-webkit-input-placeholder {
  font-weight: 700;
  color: #000000;
}

#signup-page .container input:-ms-input-placeholder {
  font-weight: 700;
  color: #000000;
}

#signup-page .container input::-ms-input-placeholder {
  font-weight: 700;
  color: #000000;
}

#signup-page .container input::placeholder {
  font-weight: 700;
  color: #000000;
}

#signup-page .container .button {
  border-radius: 7px;
  font-weight: 700;
  padding: 0;
  width: 25vw;
}

#about {
  height: auto;
  overflow: visible;
}

#about h2 > span {
  color: #00d1b2;
}

#about p {
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 1em 0 2em 0;
}

#about a {
  background: #ffffff;
  border: 0.3px solid rgba(0, 209, 178, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
          box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
  border-radius: 10px;
  height: auto;
  margin: 0.5em;
}

#about a i {
  color: #00d1b2;
}

#about a span {
  font-size: 1.3em;
}

#footer {
  background-color: #000000;
  padding: 1em;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
}

@media (min-width: 1080px) {
  body h1 {
    font-size: 3em;
  }
  body h2 {
    font-size: 4em;
    margin: 0.6em 0;
  }
  body h3 {
    font-size: 1.7em;
  }
  /*/*******************************************************************/
  /*/*******************************************************************/
  #Logo {
    height: 5vh;
    margin: 0.5em 2em;
  }
  .section .limited {
    height: 100vh;
    overflow: hidden;
  }
  .section .column {
    margin: 2em;
    padding: 2em;
    position: relative;
  }
  .section .more-fade {
    height: 40vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(41.67%, rgba(255, 255, 255, 0.8)), to(#ffffff));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 41.67%, #ffffff 100%);
  }
  .section .more-fade .more-button {
    display: inline;
    position: absolute;
    width: 56px;
    height: 56px;
    background: #ffffff;
    border: 1px solid rgba(0, 209, 178, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
            box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
    border-radius: 27px;
    -webkit-transition: width 350ms;
    transition: width 350ms;
  }
  .section .more-fade .more-button .arrow {
    height: 1.8em;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section .more-fade .more-button .more {
    display: none;
  }
  .section .more-fade .more-button:hover {
    display: inline;
    position: absolute;
    width: 148px;
    height: 54px;
  }
  .section .more-fade .more-button:hover .arrow {
    top: 50%;
    left: 22%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section .more-fade .more-button:hover .more {
    position: absolute;
    top: 48%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1.3em;
    font-weight: 700;
    display: inline;
  }
  .section .projects button {
    font-size: 1.3em;
  }
  .section .blog h3 {
    margin-bottom: 2em;
  }
  .section .blog p {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1.2em;
    background: #ffffff;
  }
  .banner h2 {
    font-size: 2em;
  }
  #signup-page {
    height: 100vh;
    padding: 6em;
  }
  #signup-page h2 {
    font-size: 4.7em;
  }
  #signup-page .container {
    margin-bottom: 0em;
  }
  #signup-page .container input {
    height: 4em;
    margin-bottom: 3.2em;
    padding-left: 3em;
  }
  #signup-page .container input::-webkit-input-placeholder {
    font-size: 1.6em;
  }
  #signup-page .container input:-ms-input-placeholder {
    font-size: 1.6em;
  }
  #signup-page .container input::-ms-input-placeholder {
    font-size: 1.6em;
  }
  #signup-page .container input::placeholder {
    font-size: 1.6em;
  }
  #signup-page .container .button {
    height: 2em;
    width: 8em;
    font-size: 2em;
  }
  #about p {
    font-size: 1.7em;
  }
}
/*# sourceMappingURL=App.css.map */