//*******************************************************************
//  Initial Value                                                  //
//*******************************************************************
@font-face {
  font-family: "Cantarell";
  font-weight: 400;
  src: url("./font/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "Cantarell";
  font-weight: 700;
  src: url("./font/Cantarell-Bold.ttf");
}

@font-face {
  font-family: "DINpro";
  font-weight: 700;
  src: url("./font/DINPro-Bold_13934.ttf");
}

$primary-color: #00d1b2;

body {
  font-family: "Cantarell", sans-serif;
}

/*/*******************************************************************/
//  Navbar                                                         //
/*/*******************************************************************/
.navbar {
  margin: 0;
  position: fixed;

  #Logo {
    height: 3vh;
    margin: 0.5em;
  }

  .navbar-menu {
    text-align: center;
    .login {
      a {
        color: #000000;
        text-decoration: none;
        font-size: 1.2em;
      }
    }

    .signup {
      a {
        font-size: 1.3em;
        font-weight: 700;
      }
    }
  }
}

//*******************************************************************
//  Landing                                                        //
//*******************************************************************

.title {
  margin: 4em 0 0 0;
  padding-bottom: 0;

  h1 {
    font-family: "DINpro", sans-serif;
    font-size: 1.5em;
    color: $primary-color;
  }
}

//*******************************************************************
//  Project  and  Blog                                             //
//*******************************************************************
.section {
  h2 {
    font-family: "DINpro", sans-serif;
    font-size: 2.5em;
    color: #000000;
  }

  .projects > .column {
    background: #ffffff;
    border: 0.5px solid rgba(0, 209, 178, 0.3);
    box-sizing: border-box;
    box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
    border-radius: 18px;

    margin: 1.5em 2em;
    padding: 2em;
    text-align: center;

    h3 {
      font-weight: 700;
      font-size: 1.5em;
      color: #000000;
    }

    button {
      border-radius: 6px;
      border-width: 2px;
      margin-top: 1.5em;
      font-weight: 700;
      font-size: 1.1em;
    }
  }

  .blog > .column {
    background: #ffffff;
    border: 0.5px solid rgba(0, 209, 178, 0.3);
    box-sizing: border-box;
    box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
    border-radius: 18px;
    text-align: end;

    margin: 1.5em 0.8em;
    padding: 1.5em;

    h3 {
      text-align: start;
      font-weight: 700;
      font-size: 1.25em;
      color: #000000;
    }

    p {
      border-radius: 6px;
      margin-top: 1.5em;
      font-weight: 700;
      color: $primary-color;
    }
  }
}

//*******************************************************************
//  Banner                                                         //
//*******************************************************************

.banner {
  h2 {
    font-size: 2em;
  }
}

//*******************************************************************
//  About                                                          //
//*******************************************************************

.about {
  h2 > span {
    color: $primary-color;
  }

  p {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 1em 0 2em 0;
  }

  a {
    background: #ffffff;
    border: 0.3px solid rgba(0, 209, 178, 0.3);
    box-sizing: border-box;
    box-shadow: -3px 3px 4px rgba(0, 209, 178, 0.3);
    border-radius: 10px;
    height: auto;
    margin: 0.5em;

    i {
      color: $primary-color;
    }

    span {
      font-size: 1.3em;
    }
  }
}

//*******************************************************************
//  Footer                                                         //
//*******************************************************************

.footer {
  background-color: #000000 !important;
  padding: 1em !important;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
}
